<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Estudiante</title>
</head>
<body>
<h2>Agregar Estudiante</h2>
<form th:action="@{/estudiantes(nuevo=true)}" th:object="${estudiante}" method="post">
    <label for="matricula">Matrícula:</label>
    <input type="text" id="matricula" name="matricula" th:value="${estudiante.matricula}" /><br/>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:value="${estudiante.nombre}" /><br/>
    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" th:value="${estudiante.telefono}" /><br/>
    <input type="submit" value="Guardar" />
</form>
</body>
</html>
